<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta baidu-gxt-verify-token="f86fb59bd7e478f761d443a0d75447f1">
    <title>@ViewBag.Title - 必应互动</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/comlib")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2b3aa853d8627a2fc22fd57cbb0ef31a' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>
@{
    var bodystyle = "padding:0;margin:0;";
    if (ViewBag.Formcode == "bingapp")
    {
        bodystyle = "padding:10px;";
    }
}
<body style="background-color:transparent;@bodystyle">
    @RenderBody()
</body>
</html>
